.movieBlock {
   min-width: 135px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 120px;
    height: 150px;
    border: 7px solid #b9b4b4;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}