.headerBlock {
    height: 100px;
}
.headerContainer{
    background-color: #6dcdfb;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.catalog{

}